<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-col justify-center items-center bg-white p-10 rounded-xl">
        <form action="{{ url_for('register') }}" class="flex flex-col justify-center items-center w-full" method="POST">
            <div class="flex flex-row justify-between w-full items-center mb-8">
                <h2 class="font-bold text-[25px]">Register</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4" />
                </svg>
            </div>
            <div class="flex flex-col justify-center items-center gap-5">
                <input class="w-[300px] p-[10px] border-2 rounded-lg" type="text" name="username"
                    placeholder="Username" required>
                <input class="w-[300px] p-[10px] border-2 rounded-lg" type="password" name="password"
                    placeholder="Password" required>
                <input class="w-[300px] p-[10px] border-2 rounded-lg" type="text" name="firstname"
                    placeholder="First Name" required>
                <input class="w-[300px] p-[10px] border-2 rounded-lg" type="text" name="lastname"
                    placeholder="Last Name" required>
            </div>
            <button type="submit" class="w-full p-3 rounded-lg my-8 bg-slate-600 hover:bg-slate-700 text-white focus:scale-95 transition-all">Register</button>
        </form>
        <div>
            <p>Already have an account? <a class="text-blue-700 underline" href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
</body>

</html>